.jumbotron
  %h1 Welcome to OSS User
  - if current_user
    = link_to 'Sign out', destroy_user_session_path, class: 'btn btn-large', method: :delete
    .row-fluid.marketing
      %p
        %strong Name:
        = current_user.name
      %p
        %strong Email:
        = current_user.email
  - else
'