#navbar.navbar
  %a.navbar-brand{:href => '#'}

    OSS
  %ul.nav.navbar-nav.pull-right
    %li.dropdown
      %a.dropdown-toggle{data: {toggle: 'dropdown'}, :href => '#'}

    %li.dropdown.user
      %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
        %i.icon-user
<<<<<<< HEAD
    - if user_signed_in?
      %li
        = link_to('Logout', user_logout_path)
    - else
      %li
        = link_to('Login', user_login_path)
        %strong User Name

        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => '#'} Edit Profile
        %li.divider


=======
        %strong LOGINN
>>>>>>> e1b11181f0713e3e75e08049442898f50fb8460d
