#navbar.navbar
  %a.navbar-brand{:href => '#'}

    OSS
  %ul.nav.navbar-nav.pull-right
    %li.dropdown
      %a.dropdown-toggle{data: {toggle: 'dropdown'}, :href => '#'}

    %li.dropdown.user
      %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
        %i.icon-user
        %strong User Name

        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => '#'} Edit Profile
        %li.divider
        %li
          =link_to 'Sign out', 'index.html'
