#toolbar
  .btn-group
    %a.btn{href: '#', data: {toggle: 'toolbar-tooltip'}, title: 'Building'}
      %i.icon-building
    %a.btn{href: '#', data: {toggle: 'toolbar-tooltip'}, title: 'Blog'}
      %i.icon-btc
    %a.btn{href: '#', data: {toggle: 'toolbar-tooltip'}, title: 'GitHub'}
      %i.icon-github
    %a.btn{href: '#', data: {toggle: 'toolbar-tooltip'}, title: 'Twitter'}
      %i.icon-twitter-sign
  .label.label-danger
    Danger
  .label.label-info
    Info