#toolbar
  .btn-group
    %a.btn{href: '#', data: {toggle: 'toolbar-tooltip'}, title: 'WEB'}
      %i.icon-globe
    %a.btn{href: '#', data: {toggle: 'toolbar-tooltip'}, title: 'Stackoverflow'}
      %i.icon-stackexchange
    %a.btn{href: '#', data: {toggle: 'toolbar-tooltip'}, title: 'Bitbucket'}
      %i.icon-bitbucket-sign
    %a.btn{href: '#', data: {toggle: 'toolbar-tooltip'}, title: 'Blog'}
      %i.icon-btc
    %a.btn{href: '#', data: {toggle: 'toolbar-tooltip'}, title: 'GitHub'}
      %i.icon-github
    %a.btn{href: '#', data: {toggle: 'toolbar-tooltip'}, title: 'Twitter'}
      %i.icon-twitter-sign
